body{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "BrandonGrotesque-Bold";
    src: url("./font/BrandonGrotesque/Brandon_bld.otf");
  }
  @font-face {
    font-family: "BrandonGrotesque-Med";
    src: url("./font/BrandonGrotesque/Brandon_med.otf");
  }
  @font-face {
    font-family: "BrandonGrotesque-Lit";
    src: url("./font/BrandonGrotesque/Brandon_reg.otf");
  }

  




/* CODE START HERE */
.container{
    /* background-image: url("./images/BG.jpg"); */
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow: hidden;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Form{
    width: 30vw;
    height: 85%;
    /* background-color: green; */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "BrandonGrotesque-Med";
    border-radius: 10px;
    background-color: white;
}

.box1{
    height: 20%;width:100%;
    border-radius: 10px;
}

.box2{
    height: 35%;width:100%;
}

.Form > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "BrandonGrotesque-Med";

    padding-top: 1em;
}

/* .box{
    transform: translate(-50%,-50%);
    overflow: hidden;
    transition: all .6s;
} */

.Form > div > input{
    margin: 0.7em;
    padding: 8px;
    border-radius: 2em;
    outline: none;
    text-indent: 10px;

    width: 70%;
    font-family: "BrandonGrotesque-Med";
    font-size: 15px;
}

.username{
    margin: 0.7em;
    padding: 8px;
    border-radius: 2em;
    outline: none;
    text-indent: 10px;

    width: 70%;
    font-family: "BrandonGrotesque-Med";
    font-size: 15px;
    height: auto;
}

.Form > div > button{

    margin-top: 12px;
    cursor: pointer;
    padding: 6px;
    font-size: 20px;
    background-color: #00c853;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 7px 0 rgba(0, 0, 0, 0.19);
    color: white;
    width: 40%;
    border-radius: 1em;
    outline: none;
    border: none;
    font-family: "BrandonGrotesque-Med";
}

.Form > div > button:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




@keyframes tagReveal {
    0% {
      transform: rotate(0) translateX(0);
      opacity: 0;
    }
    100% {
      transform: rotate(0) translateX(0);
      opacity: 1.5;
    }
  }

  .Form {
    animation: tagReveal 1s forwards 0s ease-in;
  }


 
  @media only screen and (max-width: 768px){
    .Form{
        width: 90%;
    }
  }